body, html, #app {
  height: 100%;
}

video {
  display: flex;
  margin: auto;
}


.theme-container.homepage {

  height: 100%;

  .navbar {
    border-bottom: none;
  }

  .hero {
    img {
      width: 50%;
      object-fit: cover;
      margin: 30px auto;
    }
    .description {
      color: #afafaf;
    }
  }
  .home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-width: 100%;
    padding-top: 3.7rem;
  }
  .features {
    padding: 0.5rem 1rem;
  }
}
